:root {
    --primary: purple;
    --secondary: rgb(238, 20, 238);
    --tertiary: rgb(156, 49, 156);
    --dark: rgb(107, 26, 107);
    --border-radius: 0.2rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--secondary);
    line-height: 1.5;
    font-size: 16px;
}